{% extends 'base.html.twig' %}

{% block title %}Produksi{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="container">
        <div class="d-grid gap-2 col-6 mx-auto">
            <div class="text-center">
                User : {{ app.session.get('userName') }} : {{ app.session.get('roleName') }}
            </div>
            <a href="{{ path('app_produksi_order') }}" class="btn btn-primary">Pesanan</a>
            <a href="{{ path('app_produksi_index') }}" class="btn btn-primary">Produksi</a>
            <a href="{{ path('app_logout_index') }}" class="btn btn-secondary">Sign Out</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
